In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Import datasets
movies = pd.read_csv("movielens/movies.csv")
ratings = pd.read_csv("movielens/ratings.csv")

# Exploring the data

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

## Eliminar datos innecesarios

In [5]:
ratings.drop(columns = "timestamp")

         userId  movieId  rating
0             1        2     3.5
1             1       29     3.5
2             1       32     3.5
3             1       47     3.5
4             1       50     3.5
5             1      112     3.5
6             1      151     4.0
7             1      223     4.0
8             1      253     4.0
9             1      260     4.0
10            1      293     4.0
11            1      296     4.0
12            1      318     4.0
13            1      337     3.5
14            1      367     3.5
15            1      541     4.0
16            1      589     3.5
17            1      593     3.5
18            1      653     3.0
19            1      919     3.5
20            1      924     3.5
21            1     1009     3.5
22            1     1036     4.0
23            1     1079     4.0
24            1     1080     3.5
25            1     1089     3.5
26            1     1090     4.0
27            1     1097     4.0
28            1     1136     3.5
29            1     1193     3.5
...         ...      ...     ...
1048545    7119      475     5.0
1048546    7119      480     4.0
1048547    7119      500     3.0
1048548    7119      515     4.0
1048549    7119      553     4.0
1048550    7119      588     4.0
1048551    7119      589     4.0
1048552    7119      592     3.0
1048553    7119      593     5.0
1048554    7119      595     4.0
1048555    7120        1     4.5
1048556    7120        2     4.0
1048557    7120        7     4.0
1048558    7120       17     4.5
1048559    7120       19     3.0
1048560    7120       21     5.0
1048561    7120       34     5.0
1048562    7120       44     2.5
1048563    7120       48     4.5
1048564    7120      110     5.0
1048565    7120      141     5.0
1048566    7120      151     5.0
1048567    7120      153     0.5
1048568    7120      161     4.0
1048569    7120      163     4.5
1048570    7120      168     5.0
1048571    7120      253     4.0
1048572    7120      260     5.0
1048573    7120      261     4.0
1048574    7120      266     3.5

[1048575 rows x 3 columns]

## Añadir ID al rating

In [6]:
ratings['Id'] = ratings.index

In [7]:
ratings.head()

   userId  movieId  rating   timestamp  Id
0       1        2     3.5  1112486027   0
1       1       29     3.5  1112484676   1
2       1       32     3.5  1112484819   2
3       1       47     3.5  1112484727   3
4       1       50     3.5  1112484580   4

# Model

## Transformar el dataset

Se busca transformar el conjunto de datos en una matriz M x N donde M será la cantidad de películas y N será la cantidad de usuarios. Para ello se usará la función pivot

In [8]:
from scipy.sparse import csr_matrix

#pivot ratings en características de películas
df_movie_features = ratings.pivot(
    index = 'movieId',
    columns = 'userId',
    values = 'rating',
).fillna(0)

#parseo a una matriz scipy

mat_movie_features = csr_matrix(df_movie_features.values)

In [9]:
df_movie_features.head()

userId,1,2,3,4,5,6,7,8,9,10,...,7111,7112,7113,7114,7115,7116,7117,7118,7119,7120
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,5.0,4.5
2,3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
3,0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0,0.0

## Construir el modelo

Debido a que la distancia euclidea resultará muy ineficiente en dimensiones tan grandes como la del problema planteado, para medir las distancias, se empleará la **similitud coseno**.

In [10]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(n_neighbors=20, algorithm='auto').fit(df_movie_features)

# Recomendaciones

In [ ]:
distances, indices = model_knn.kneighbors(df_movie_features)

In [ ]:
indices